@charset "utf-8";
/* CSS Document */

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

#full-screen-background-image {
  z-index: -999;
  min-height: 100%;
  min-width: 900px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}


#head{
	width: 900px;
	background-color: #000;
	background:#2d2828;
	padding: 1em 2em;
	margin: 20px auto; 
	border-radius:10px;
}

#toolbar{background:url("http://public.bay.livefilestore.com/y1png3lGcrhvOxWMZNsU7JA0Pzm4wMFVh6NXYtKxypajfpmJ0MPWKqa4BtDirDC6CfsBkPflzAtuXVsB527-krIxA/banner.png") repeat scroll 0 0 transparent;height:45px;top:0; padding:10px 0 10px 82px; font-size:24px; color:#FFF; font-weight:bold; border:0}

.ss-form-container{width: 900px;background-color: #FFF;background:#ebf4fb;padding: 1em 2em;margin: 20px auto; border-radius:10px}

.ss-form-heading{ font-family:Calibri; margin-bottom:20px}

.ss-form-heading h1{font-size:28px;font-weight:bold;margin-bottom:8px;display: block;color: #333;}

.formulario{
	

}

label{
	margin-right: 20px;
	font-size: 24px;
	color: #333;
	font-family: Calibri;
}

input {
    width: 470px;
    height: 42px;
    margin-top: 25px;
    padding: 0 15px;
    background: #2d2d2d; /* browsers that don't support rgba */
    background: rgba(45,45,45,.15);
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #3d3d3d; /* browsers that don't support rgba */
    border: 1px solid rgba(255,255,255,.15);
    -moz-box-shadow: 0 2px 3px 0 rgba(0,0,0,.1) inset;
    -webkit-box-shadow: 0 2px 3px 0 rgba(0,0,0,.1) inset;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.1) inset;
    font-family: 'PT Sans', Helvetica, Arial, sans-serif;
    font-size: 18px;
    color: #fff;
    text-shadow: 0 1px 2px rgba(0,0,0,.1);
    -o-transition: all .2s;
    -moz-transition: all .2s;
    -webkit-transition: all .2s;
    -ms-transition: all .2s;
}

input:focus {
    outline: none;
    -moz-box-shadow:
        0 2px 3px 0 rgba(0,0,0,.1) inset,
        0 2px 7px 0 rgba(0,0,0,.2);
    -webkit-box-shadow:
        0 2px 3px 0 rgba(0,0,0,.1) inset,
        0 2px 7px 0 rgba(0,0,0,.2);
    box-shadow:
        0 2px 3px 0 rgba(0,0,0,.1) inset,
        0 2px 7px 0 rgba(0,0,0,.2);
}

select {
    width: 502px;
    height: 42px;
    margin-top: 25px;
    padding: 0 15px;
    background: #2d2d2d; /* browsers that don't support rgba */
    background: rgba(45,45,45,.15);
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #3d3d3d; /* browsers that don't support rgba */
    border: 1px solid rgba(255,255,255,.15);
    -moz-box-shadow: 0 2px 3px 0 rgba(0,0,0,.1) inset;
    -webkit-box-shadow: 0 2px 3px 0 rgba(0,0,0,.1) inset;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.1) inset;
    font-family: 'PT Sans', Helvetica, Arial, sans-serif;
    font-size: 18px;
    color: #fff;
    text-shadow: 0 1px 2px rgba(0,0,0,.1);
    -o-transition: all .2s;
    -moz-transition: all .2s;
    -webkit-transition: all .2s;
    -ms-transition: all .2s;
}

select:focus {
    outline: none;
    -moz-box-shadow:
        0 2px 3px 0 rgba(0,0,0,.1) inset,
        0 2px 7px 0 rgba(0,0,0,.2);
    -webkit-box-shadow:
        0 2px 3px 0 rgba(0,0,0,.1) inset,
        0 2px 7px 0 rgba(0,0,0,.2);
    box-shadow:
        0 2px 3px 0 rgba(0,0,0,.1) inset,
        0 2px 7px 0 rgba(0,0,0,.2);
}

.button{ 
font-family:Calibri;
clear:both;
left:50%; 
!important;width:225px 
!important;height:41px 
!important;
background:#f16028 url(button.png) no-repeat;
text-align:center;
line-height:31px;
color:#FFF;
font-size:24px;
font-weight:bold;
 border:0 !important;
 border-radius:5px;
 }

.button:hover{
	background:#ef4402;
}

.button:focus{
	background:#ef4402;
}

.labels{
	float: left;
	height: 100px;
	width: 150px;
	margin-top: 33px;
	margin-left: 110px;
	
}

.inputs{
	width: 470px;
	padding-left: 100px;	

}

.ss-footer{margin-top:25px}

.ss-powered-by{font-size:10px; text-align:center}

.titulo{margin:20px auto 0 auto;display: block; text-align:center;font-weight:bold; font-family:Georgia, "Times New Roman", Times, serif}

.titulo h1{font-size:32px; display:block}

.titulo h2{font-size:24px; display:block}